@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-DemiBold.eot");
  src: local("TT Lakes DemiBold"), local("TTLakes-DemiBold"),
    url("../fonts/TTLakes-DemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-DemiBold.woff") format("woff"),
    url("../fonts/TTLakes-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../fonts/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: "TT Lakes";
}

main {
  background-color: #ffffff;
}

.container {
  width: 320px;
  margin: auto;
}

.brands-header {
  padding-left: 16px;
  padding-bottom: 16px;
  background: linear-gradient(90deg, #F8F8F8 0%, #ffffff 98.61%);
}

.brands-header::before {
  content: "";
  display: block;
  background: #d9fff5;
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
}

.brands-header__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: 300;
  margin: 0;
}

div .swiper {
  margin-left: 16px;
  margin-top: 16px;
}

.swiper-slide__button {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  box-sizing: border-box;
  width: 240px;
  height: 72px;
  padding: 0;
}

.lenovo {
  background: #ffffff url("../img/lenovo.png") no-repeat 16px 50%;
}

.samsung {
  background: #ffffff url("../img/samsung.png") no-repeat 16px 50%;
}

.apple {
  background: #ffffff url("../img/apple.png") no-repeat 16px 50%;
}

.viewsonic {
  background: #ffffff url("../img/viewsonic.png") no-repeat 16px 50%;
}

.bosch {
  background: #ffffff url("../img/bosch.png") no-repeat 16px 50%;
}

.hp {
  background: #ffffff url("../img/hp.png") no-repeat 16px 50%;
}

.acer {
  background: #ffffff url("../img/acer.png") no-repeat 16px 50%;
}

.sony {
  background: #ffffff url("../img/sony.png") no-repeat 16px 50%;
}

.swiper-slide__button::before {
  content: "";
  background: #ffffff url("../img/dropdown.svg") no-repeat 50% 50%;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 100px;
  position: relative;
  left: 184px;
}

.swiper .swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
  margin-right: 9px !important;
}

.swiper .swiper-pagination-bullet-active {
  background: #b5b6bc;
}

div .swiper::before {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 81px;
  left: 92.5%;
  z-index: 4;
  background: linear-gradient(
    270deg,
    #ffffff 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
}

.swiper .swiper-pagination {
  position: static;
  margin-top: 16px;
}

.swiper .swiper-slide {
  flex-shrink: unset;
}

.brands__button {
  display: none;
}

.swiper-slide__button {
  cursor: pointer;
}

.swiper-slide:nth-child(n + 10) {
  display: none;
}

.swiper-slide__button:focus {

}

.brands__button:focus {
}

div .swiper-pagination-bullet:focus {
  outline: none;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .brands-header {
    padding-left: 24px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }

  .swiper-slide__button::before {
    left: 168px;
  }

  .swiper-slide__button {
    width: 224px;
    height: 72px;
    margin-right: 24px;
    margin-bottom: 16px;
  }

  .swiper-slide:nth-child(n + 7) {
    display: none;
  }

  div .swiper::before {
    display: none;
  }

  div .swiper {
    margin-top: 24px;
    margin-left: 24px;
    height: 160px;
    overflow: hidden;
  }

  .swiper-slide__button {
    margin-right: 24px;
  }

  .swiper-slide__button:nth-child(3) {
    margin-right: 0;
  }

  div .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .brands__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 24px;
    padding: 0;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }

  .brands__button__text {
    margin-left: 16px;
  }

  .swiper .swiper-pagination {
    display: none;
  }
}

@media (min-width: 1120px) {
  .container {
    width: 1120px;
  }

  .brands-header {
    padding-left: 32px;
  }

  .swiper-slide__button {
    width: 240px;
    height: 72px;
    margin-right: 32px;
    margin-bottom: 16px;
  }

  div .swiper {
    margin-left: 32px;
  }

  div .swiper-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .swiper-slide:nth-child(7) {
    grid-column-start: 4;
    grid-row-start: 1;
    order: 1;
  }

  .swiper-slide:nth-child(n + 7) {
    display: block;
  }

  .swiper-slide:nth-child(n + 9) {
    display: none;
  }

  .brands__button {
    margin-left: 31px;
  }

  .brands-header {
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }
}
