@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-DemiBold.eot');
    src: local('TT Lakes DemiBold'), local('TTLakes-DemiBold'),
        url('../fonts/TTLakes-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-DemiBold.woff') format('woff'),
        url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #F8F8F8;
    font-family: 'TT Lakes';
}

header {
    background-color: white;
}

main {
    background-color: #F8F8F8;
}

.container {
    width: 320px;
    margin: auto;
}

.header {
    margin: 0 24px 0 24px;
}

.header__navigation, .header__navigation--right-menu, .header__navigation--left-menu {
    display: flex;
    align-items: center;
}

.navigation-block__menu--link:active, .header__navigation--button:active {
    background-color: inherit;
}

.header__navigation {
    justify-content: space-between;
}

.header__navigation--button {
    margin-bottom: 24px;
    margin-top: 24px;
    margin-right: 18px;
    border: none;
    cursor: pointer;
}

.sidebar__header {
    position: absolute;
    width: 320px;
}

.header__navigation--button {
    background-color: #FF3E79;;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    padding: 11px;
}

.search {
    width: 17.06px;
}

.burger:before {
    content: "";
    position: absolute;
    display: block;
    width: 21.75px;
    height: 2.17px;
    background-color: white;
    border-radius: 1px;
    transform: rotate(-45deg);
    left: 22%;
    top: 49%
}

.burger::after {
    content: "";
    position: absolute;
    display: block;
    width: 21.75px;
    height: 2.17px;
    background-color: white;
    border-radius: 1px;
    transform: rotate(45deg);
    left: 22%;
    top: 49%
}


@media (min-width: 768px) {


}

@media (min-width: 1120px) {

}